*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
.frontpage{
    background-image: linear-gradient(to bottom left,  rgb(72, 187, 236),rgb(184, 222, 12));
    height: 100vh;
}
.container
{
    position: relative;
    overflow-x:hidden ;
    overflow-y: auto;
    user-select: none;
}

